%h1 Listing registries

%table
  %tr
    %th Name
    %th Url
    %th Jwks uri
    %th Trust bundle uri
    %th Oauth2
    %th
    %th
    %th

  - @registries.each do |registry|
    %tr
      %td= registry.name
      %td= registry.url
      %td= registry.jwks_uri
      %td= registry.trust_bundle_uri
      %td= registry.oauth2
      %td= link_to 'Show', registry
      %td= link_to 'Edit', edit_registry_path(registry)
      %td= link_to 'Destroy', registry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Registry', new_registry_path
