%p#notice= notice

%p
  %b Name:
  = @registry.name
%p
  %b Url:
  = @registry.url
%p
  %b Jwks uri:
  = @registry.jwks_uri
%p
  %b Trust bundle uri:
  = @registry.trust_bundle_uri
%p
  %b Oauth2:
  = @registry.oauth2

= link_to 'Edit', edit_registry_path(@registry)
\|
= link_to 'Back', registries_path
