!!!
%html
  %head
    %title Blue Register - Blue Button+ Registry Service
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/head'
  %body
    .container-narrow
      = render 'layouts/header'
      = yield
      = render partial: 'layouts/footer'